.container{
    background-color: #FFDAB9;
}

.reset-password {
    width: 300px;
    text-align: center;
    padding: 10px;
}

.reset-password h2 {
    background-color: navy;
    color: white;
    padding: 10px;
} 

input {
    width: 65%;
    padding: 10px;
    margin: 5px ; 
    text-align: center;
    border: 2px solid lightblue;
}

.submit {
    background-color: purple;
    color: white;
    padding: 10px;
    border: none;
    width: 50%;
    font-size: 16px;
}

.error {
    color: red;
    font-size: 0.9em;
}

.container {
    padding-left: 90px; 
}

